<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856896287260-8og4c71jag6qf1dc1qi5o1t1n59kphh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856896287260-8og4c71jag6qf1dc1qi5o1t1n59kphh6</string>
	<key>API_KEY</key>
	<string>AIzaSyB6GsYmTuVOJyIVNDkot0i_EMc1erW3ek4</string>
	<key>GCM_SENDER_ID</key>
	<string>856896287260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-066515.Pong-Game</string>
	<key>PROJECT_ID</key>
	<string>dmd-pong-game</string>
	<key>STORAGE_BUCKET</key>
	<string>dmd-pong-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856896287260:ios:a3763d2bb6b2476a</string>
	<key>DATABASE_URL</key>
	<string>https://dmd-pong-game.firebaseio.com</string>
</dict>
</plist>